.App {
  background: #10121a;
  text-align: center;
}

.logo {
  margin: 10px;
  max-height: 50px;
}

.nav-item{
  color: white;
  font-size: 1.25rem;
  padding-left: 30px;
}

.nav-item:hover{
  color:gray;
}

body {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 1.25rem;
}
a {
  color: white;
  font-family: Raleway, sans-serif;
}

a:hover {
  color: white;
}

table {
  color: #4a4c55;
  margin-top: 8%;
  width:100%;
}

tr:hover {
  background-color: #2a2c33;
  color: white;
}

table tr:hover td:first-child {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
table tr:hover td:last-child {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

table tr td{
  padding-top: 3%;
  padding-bottom: 3%;
}

table tr td:last-child {
  padding-right: 5%
}

.navbar {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #10121a, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #10121a, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-height: 60px;
}

.landingpic {
  max-height: 75%;
  position:relative;
}

.library-album {
  padding: 10px;
}

.display-1 {
  color:white;
  font-family: 'Exo', Helvetica, sans-serif ;
  left: 65%;
  line-height: 5rem;
  position: absolute;
  text-align: left;
  top: 15%;
}

.selling-points {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to down, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to down, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.point {
  margin-top: 20px;
}

.point-title {
  color: white;
  font-family: 'Raleway',sans-serif;
  margin-top: 10px;
}

.point-description {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.album-details {
  margin-top: 5%;
}

.song-title {
  text-align: left;
}

.song-duration {
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  width:75px;
}

.ion-ios-play {
  color: #FF512F;
}

.navbar {
background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
